<h1>Здравствуйте!</h1>

<p>
    Вы зарегистрировались как {{ username }} и указали следующий адрес электронной почты:
</p>
<p><code>{{ confirmation_email }}</code></p>

<p>
    <a href="{{ signed_url }}">Нажмите сюда для активации аккаунта</a>
    (эта ссылка активна в течение {{ expire_hours }} часов)
</p>

<p>
    Если это были не вы - проигнорируйте данное письмо.
</p>
