<h1>Здравствуйте!</h1>

<p>
    Вы указали этот адрес электронной почты для восстановления доступа к аккаунту.
</p>

<p>
    <a href="{{ reset_url }}">Нажмите сюда для сброса</a>
    (эта ссылка активна до {{ expired_at }})
</p>

<p>
    Если это были не вы - проигнорируйте данное письмо.
</p>
